<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jq")
    @Styles.Render("~/Content/boot")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/pnotify")
    @Scripts.Render("~/bundles/pnotify")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="containerA" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">          

                @Html.ActionLink("  Maestro de Productos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>
   
    @Scripts.Render("~/bundles/datascript")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
